### ALIASES ###
# navigation
alias ..='cd ..'
alias ...='cd ../..'
alias .3='cd ../../..'
alias .4='cd ../../../..'
alias .5='cd ../../../../..'

# shell
alias rbash='. ~/.bashrc' # reload shell
alias xbashrc='nano ~/.bashrc' # edit .bashrc
alias xx='exit'

# 'ls' to 'eza'
alias ls='eza -1 --color=always --group-directories-first --icons=auto -T --level=1'
alias lsa='eza -1a --color=always --group-directories-first --icons=auto -T --level=1'
alias lss='eza -1a --color=always --group-directories-first'
alias ll='eza -alhUm --color=always --group-directories-first'
alias lr='eza -1aT --level=3 --color=always --group-directories-first --icons=auto'
alias lr2='eza -1aT --level=2 --color=always --group-directories-first --icons=auto'
alias lrr='eza -1aT --color=always --group-directories-first --icons=auto'

# mkdir
alias mkdir='mkdir -pv'

{{- if eq .chezmoi.os "windows" }} {{- printf "\n"}}
# open in windows explorer
alias exp='explorer .'
alias wtc='wt -d $(pwd)'
alias wtt='wt new-tab -d $(pwd)'
alias wtlzg='wt -d $(pwd) -p "Git Bash" "C:/Program Files/Git/bin/bash.exe" -i -l -c "lazygit"'
{{- end }}

# git
alias lzg='lazygit'
alias addup='git add -u'
alias addall='git add .'
alias branch='git branch'
alias checkout='git checkout'
alias clone='git clone'
alias commit='git commit -m'
alias fetch='git fetch'
alias pull='git pull origin'
alias push='git push origin'
alias stat='git status'  # 'status' is protected name so using 'stat' instead
alias stash='git stash push -u -m'
alias stash-list='git stash list'
alias stash-apply='git stash apply'
alias stash-pop='git stash pop'
alias tag='git tag'
alias newtag='git tag -a'
alias gdiff='git --no-pager diff' # -- path/to/file
alias gdiff1='git diff-tree --no-commit-id --patch HEAD' # -- path/to/file

# docker
alias dokerup='docker compose up -d --wait'
alias dokerbuild='docker compose up -d --build --wait'
alias dokerdown='docker compose down'
alias dokerdr='docker compose down && docker compose up -d --wait'
alias dokerdbr='docker compose down && docker compose up -d --build --wait'
alias dokerdvbr='docker compose down -v && docker compose up -d --build --wait'

# chezmoi
alias che='chezmoi'
alias chemoi='chezmoi'
alias che-lazy='cd $(che source-path) && lzg'

# aichat
alias ai='aichat'
alias chat='aichat -r ebs -s'

# ngrok
alias ngrok='~/NGROK/ngrok.exe'

# python

{{- if eq .chezmoi.os "windows" }}
## venv
alias svenv='source .venv/Scripts/activate'
{{- end }}

## tools
alias pjson='python -m json.tool'
alias rc='ruff check && ruff format --check'
alias rfix='ruff check --fix && ruff format'
alias rformat='ruff format'

## django
alias djrunserver='py manage.py runserver'
alias djmanage='py manage.py'
alias djmake='py manage.py makemigrations'
alias djmigrate='py manage.py migrate'
alias djload='py manage.py loaddata fixtures/*.json'
alias djshow='py manage.py show_urls'

# shortcuts
# alias workdir1='/c/Users/stefan.boicu/Work/Internship/ebs-milestone-2'